{
  "model_config_list": [
    {
      "name": "indobert-base",
      "base_path": "/models/indobert-base",
      "model_platform": "tensorflow"
    },
    {
      "name": "indonesian-sentiment",
      "base_path": "/models/indonesian-sentiment",
      "model_platform": "tensorflow"
    },
    {
      "name": "indonesian-ner",
      "base_path": "/models/indonesian-ner",
      "model_platform": "tensorflow"
    },
    {
      "name": "indonesian-qa",
      "base_path": "/models/indonesian-qa",
      "model_platform": "tensorflow"
    }
  ]
}