model_config_list {
  config {
    name: 'indobert-base'
    base_path: '/models/indobert-base'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
    version_labels {
      key: 'canary'
      value: 2
    }
  }
}

model_config_list {
  config {
    name: 'indonesian-sentiment'
    base_path: '/models/indonesian-sentiment'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 1
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
  }
}

model_config_list {
  config {
    name: 'indonesian-ner'
    base_path: '/models/indonesian-ner'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 1
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
  }
}

model_config_list {
  config {
    name: 'indonesian-qa'
    base_path: '/models/indonesian-qa'
    model_platform: 'tensorflow'
    model_version_policy {
      latest {
        num_versions: 1
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
  }
}
